<head>
  <script type="text/javascript">
    function resizeLogin() {
      document.getElementById('canvas').style.width = "700px";
      document.getElementById('canvas').style.height = "700px";
      }
      window.onload = resizeLogin;
  </script>
</head>
<body>
  <div class="content">
    <div class="profile_header padded">
      <h3><%= @user.first_name %>'s posts</h3>
      <% if session['user_id'] == @user.id %>
        <p><%= @user.email %></p>
        <a id="delete_account" class="btn" onclick="load_out_small('/users/<%= @user.id %>/delete')">Delete account</a>
      <% end %>
    </div>
    <% post = Post.where(user_id: params[:id]) %>
    <% if post != nil %>
      <% post.each do |post| %>
        <div class="row gallery">
          <div class="column">
            <% user = User.find(post.user_id)%>
            <h4>By: <a href=<%= "/users/#{user.id}" %>><%= "#{user.first_name} #{user.last_name}" %></a></h4>
            <small><p>Created on: <%= post.created_at %></p></small>
            <p><%= post.content %></p>
            <% if session['user_id'] == @user.id %>
              <a id="delete_post" class="btn" onclick="load_out_small('/posts/<%= post.id %>')">Delete post</a>
            <% end %>
          </div>
        </div>
        <br>
      <% end %>
    <% end %>
  </div>
  <div id="nav" style="position:sticky;width:103%">
    <div class="row">
      <div class="column">
        <a onclick="load_out_big('/posts/?')"><h2>Rumblr</h2></a>
      </div>
      <div class="column right padded">
        <% if session['user_id'] == nil %>
          <a id="signup" class="btn" onclick="load_out_small('/users/signup')">Sign Up</a>
          <a id="login" class="btn" onclick="load_out_small('/login')">Log In</a>
        <% else %>
          <a id="newpost" class="btn" onclick="load_out_big('/posts/new')">New Post</a>
          <form id="logout" action="/logout" method="POST">
             <input type="submit" name="" value="Logout" onclick="transition()">
          </form>
        <% end %>
      </div>
    </div>
  </div>

</body>
